* {
    margin: 0px;
    max-width: 100%;
    padding: 0px;
}

.center-all {
    margin: auto;
    text-align: center;
}

.center-div {
    margin: auto;
    z-index: 100;
}

#header_logo{
    width: 80px;
    height: auto;
    padding: 7px;
}

.navbar
{
    background-color: #e8eaed;	
    padding-right: 10px;
    border-bottom: 6px solid #f9973b;
    border-radius: 0;
    font-size: 14px;
}

.navbar-toggle{
    
    background-color: transparent;
    border: none;
    margin-right: 0px;
    padding-right: 0px;
    
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
   color: #777777;
    background-color: transparent;
}*/

.navbar-default .navbar-nav>.active>a{
   color: #777777;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    
    background-color: transparent;
}

.dropdown-menu{
   background-color: #e8eaed; 

}

.dropdown-menu>li>a {
color: #777777;
    
}

h2{
    font-family: heading-font;
    color:#f9973b;
}

@font-face {
    font-family: body-font;
    src: url("../fonts/HelveticaNeueLt.ttf");
}

@font-face {
    font-family: heading-font;
    src: url("../fonts/good-times.ttf");
}

.btn-group-lg>.btn, .btn-lg {
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    font-size: 16px;
    background-color: #f9973b;
    color: white; 
    border-radius: 2px;
    border: none;
    
}


.btn:hover{
    background-color: #1C1B1B;
    color: #f9973b; 
    
}

    
.watch_video_icon{
    display: none;
    width: 32px;
    line-height: 32px;
    height: 32px;
    font-size: 18px;
    background-color: #656565;
    color: #f9973b; 
    
    }


.watch_video_button{
    margin: auto;
    display: block;
    width: 100px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    background-color: #656565;
    color: #f9973b; 
}

.watch_video_button:hover, .watch_video_icon:hover{
    background-color: #f9973b;
    color: white; 
}

/* News Item Styles */
.news-item {
    background-color: whitesmoke;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    color: black;
    margin: 1em auto 2em;
    max-width: 360px;
    padding: 1em;
    text-align: left;
}

.news-item:hover{
    
  /*  border: 3px solid #f9973b; */
    -moz-box-shadow: 0 0 0 2px #f9973b;
    -webkit-box-shadow: 0 0 0 2px #f9973b;
    
}


.news-item-full {
    color: black;
    margin: auto;
}

.news-item-full-container {
    padding: 30px;
    width: 90%;
}

.news-item-info {
    color: #95989A;
    font-size: 14px;
    margin-top: 0px;
}
    

.news-item-text {
    margin-top: 1em;
    color: #6F7071;
}

.news-item-title{
    color:#1C1B1B;
    margin-top: 1em;
    font-size: 20px;
    font-weight: 700;
}

.news-item>a:hover{
    text-decoration: none;
}


.fancybox-close-small:focus{
   border: none; 
}

#header_logo
{
    display: inline;
}

li a
{
	color: #f9973b;
	text-decoration: none;
}

body 
{ 
    font-family: body-font;
    color: #afafae;
    background-color: #1C1B1B;
    font-size: 16px;
    line-height: 180%;
}

main
{	
	margin: auto;
    padding: 2em 0 4em;
    width: 80%;
}

.row
{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.team_name
{

	font-size: 2em;
	margin-top: 10px;
}

#single_team_name
{
	
    margin-bottom: 80px;
    font-size: 24px;
}

#single_team_name:hover{
   text-decoration: none; 
}

.figure-caption>.team_name{
    font-family: heading-font;
}

figure>a:hover{
    text-decoration: none; 
}

#team_logo
{
	margin: 100px auto 40px auto;
}

.player_image
{
	margin-bottom: 60px;
}

.player_bio
{
	margin-bottom: 90px;
}

.category_header
{
	text-align: center;
	font-size: 2em;
}

#main_home_image
{
    position: relative;
	margin-top: -20px;
    padding: 0px;
    width: 100%;
}

#bg-gif{
    position: absolute;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    
}

#bg-overlay{
    position: relative;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    
}

#news_and_events
{
    background-color: #e8eaed;
	width: 100%;
}

#load_more_button
{
	margin: 40px auto;
}

#admin_options
{
    width: 100%;
}

.admin_option_button 
{
    padding: 10px 20px;
}

.option_selected
{
    background-color: #343435;
	color: #f9973b;
}

.option_unselected
{
    background-color: #b0b4ba;
    color: #fff;	
}

.page_title
{
    color: #f9973b;
    text-align: center;
    margin: 60px 0 60px 0;	
}

.edit_about_button
{
    float: left;
	padding: 10px 30px;
    margin-top: 20px;
    font-size: 1.6em;
    background-color: #f9973b;
}

.main_action_button
{
    float: right;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 1.6em;
    background-color: #f9973b;
}

.contact_page_button
{
	float: right;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1.2em;
    background-color: #f9973b;
}

.admin_logo {
	height: 70px;
	width: 70px;
}

/* ADMIN LOGIN BUTTON */

#admin_login_button
{
    background-color: transparent;
    color: gray;
    float: right;
	clear: none;
	margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 0.5px solid gray;
}

#admin_login_button:hover {
    color: #f9973b;
    border: 0.5px solid #f9973b;
}

.admin-button{
    background-color: #080808;
    
}


/* TEAM ADMIN */

.admin_table_row:hover td {
	background-color: gray;
	cursor: pointer;
}

.admin_team_logo {
	height: 40px;
	width: 40px;
}

.admin_text
{
	font-size: 1.1em;
	vertical-align: middle;
	color: #f9973b;
}

.admin_input_text
{
	font-size: 1.1em;
}

.add_player_button, .delete_player_button
{
	white-space: normal;
	float: left;
    padding: 10px 10px;
    margin-left: 10px;
	margin-top: 10px;	
    font-size: 1em;
    background-color: #f9973b;
}

.admin_page_button
{
	float: right;
    padding: 10px 20px;
    margin-left: 10px;
	margin-top: 10px;
    font-size: 1.2em;
    background-color: #f9973b;
}

.player_list
{
	margin-top: 110px;
}

.player_table
{
	table-layout:fixed;
	width: 100%;
}

.player_table td
{
	text-align: left;
}

.edit_player_form
{
	display: none;
}


/*  TEAMS PAGE   */

.img-circle {
    background-color: #625E5E;
    width: 200px;
    height: 200px;
    
}

#team-thumbnails:hover figcaption { color: #F7931E; }

#team-thumbnails:hover .img-circle{ opacity: .5; -webkit-box-shadow:inset 0px 0px 0px 2px #F7931E; -moz-box-shadow:inset 0px 0px 0px 2px #F7931E; box-shadow:inset 0px 0px 0px 2px #F7931E; }

.img-circle{
	background: #625E5E;
}

/*.img-circle:hover {
	opacity: .5;
     -webkit-box-shadow:inset 0px 0px 0px 2px #F7931E;
    -moz-box-shadow:inset 0px 0px 0px 2px #F7931E;
    box-shadow:inset 0px 0px 0px 2px #F7931E;
}*/



.team-list figcaption{
    color:#BFBFBF;
}

.team-list figcaption:hover{
    color:#F7931E;
}


/* SOCIAL MEDIA ICONS */

.discord-logo {
    margin: 0.25em;
    padding-bottom: 1em;
}

.fa {
    margin: 0.25em;
    text-shadow: none;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-instagram {
    color: #fbad50;
}

.fa-twitch {
	color: #9D57C4;
}

.fa-twitter-square {
	color: #00B6F1;
}

/* MATCHES TABS */
div.tab_matches {
    overflow: hidden;
    background-color: #e8eaed;
    color: #000000;
    border-radius: 3px;
    margin-bottom: 1em;
}

div.tab_matches a {
    color: #000000;
}

.matches-container{
    background-color: #313030;
    padding: 1px;
}

div.tab_matches button {
    font-weight: 600;
    background-color: #1C1B1B;  
    color: #95989A;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: 17px;
    width: 33.33%;
    border-right:0.5px solid #313030;
    border-bottom:0.5px solid #1C1B1B;
    border-radius: 0px;
}

div.tab_matches button:hover {
    background-color: #313030;
    color: #E6E4E4;
     border-radius: 0px;
}

div.tab_matches button.active {
    background-color: #313030;
    color: #E6E4E4;
     border-radius: 0px;
}

div.tab_matches button:last-child{
   
}

/* MATCHES TABLE */
table{
    text-align: center;
    
}

th{
text-align: center;
    color: #E6E4E4;
    border-right: 0.1px solid #59595A; 
}

th:last-child{
  border-right: none;   
}

td{
    color: #95989A;
}


.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #1C1B1B;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {

    border-bottom: 0.2px solid #95989A;
    vertical-align: middle;

}

.table>tbody>tr>td>img{
    
    width: 30px;
    height: 30px;
}



/* ADMIN TABS */
.content{
	margin-bottom: 90px;
}

div.tab_admin {
    overflow: hidden;
    background-color: #e8eaed;
    color: #000000;
    border-radius: 3px;
    margin-bottom: 40px;
}

div.tab_admin button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: 17px;
    width: 16.66%;
    border-right: 1px solid #343435;
}

div.tab_admin button:hover {
    background-color: #cccccc;
}

div.tab_admin button.active {
    background-color: #f9973b;
    color: #ffffff;
}

div.tab_admin button:last-child{
border-right:none;
}


/* Back to Top button */

.back-to-top {
 
background: none;
 
margin: 0;
 
position: fixed;
 
bottom: 10em;
 
right: 10px;
 
width: 50px;
 
height: 50px;
 
z-index: 100;
 
display: none;
 
text-decoration: none;
 
color: darkorange;
    
opacity: 0.6;
    
text-shadow: none;
 
}
 
  
 
.back-to-top i {
 
  font-size: 50px;
 
}


.back-to-top:hover {
 
    opacity: 1;
    color: darkorange;
    text-shadow: none;
}






/* FOOTER */



#social-icons{
    
    margin-top: 0px;
    padding-top: 3em;
    background-color: #080808;
}


#footer_line
{
    margin-top: 0;
}

.footer_image
{
    display: inline;
    margin-left: 10px;
}

footer
{
    margin: 0px;
    padding: 0px;
    height: 200px;
    margin-bottom: 0px;
	margin-left: 0px;
    background-color: #080808;
    border-top: 0.2px solid rgba(255, 255, 255, .5);
}



#social-icons a{
    opacity: 0.8;
}

#social-icons a:hover{
    opacity: 1;
    
}

.watch_video_button{
        display: block;
    }
    
.watch_video_icon{
        display: none;
    }

/* Confirmation Page */
#confirmation-content{
    min-height: 550px;
}

#confirmation-content .row{
    margin-top: 3em;
}

/* News Item Pic */
.news-item-pic {
    height: 200px;
    width: 100%;
}

.full-news-item-pic {
    max-height: 400px;
    max-width: 100%;
}


/* ---------Media Queries --------------------------------------------------------------- */

@media screen and (max-width : 480px) {
    
    *{
        margin: 0px;
        padding: 0px;
    }
    
    main{
        width: 100%;
        margin: 2px;
    }
    
.matches-container{
    
    font-size: 12px;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
        
    } 
    
   #match-cell{
       width: 100px;
    }
    
    
}





@media screen and (max-width : 766px) {
    
    .watch_video_button{
        display: none;
    }
    
    .watch_video_icon{
        display: block;
    }
    
    
}


@media screen and (max-width : 900px) {
    
    #main_home_image{
        margin-top: 4em;
    }
    
}












  